# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues
uvicorn
fastapi
uvicorn==0.27.1
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
python-dotenv==1.0.1
openai==1.72.0
pulumi-random>=4.18.0
gunicorn==21.2.0
httpx==0.27.2
PyJWT==2.10.1
python-jose[cryptography]==3.4.0
cryptography==44.0.2